/* main color: #f5c525 */
/* font-family: 'Bebas Neue', cursive;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
    
}

body{
    font-family: 'Bebas Neue';
    text-decoration: none;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    background-color:  #1A1A1A;
}

body::-webkit-scrollbar{
    display: none;
}



.nav-bar{
    background-color: black;
    display: flex;
    height: 128px;
    width: 100%;
    align-items: center;
}

.logo{
    
    align-items: center;
    margin-left: 17.6%;
    width: 14%;
    height: 77px;
}

.nav-button, .navbutton:visited{
    text-decoration: none;
    
    width: 20%;
    
    font-size: 24px;
    
    font-family: 'Bebas Neue';
    
    align-items: center;
    
    
    text-align: center;
    
    color: #F5C525;
}

@media screen and (max-width: 1500px) {
    .nav-button, .navbutton:visited{
        text-decoration: none;
        
        width: 20%;
        
        font-size: 16px;
        
        font-family: 'Bebas Neue';
        
        align-items: center;
        
        
        text-align: center;
        
        color: #F5C525;
    }
}

@media screen and (max-width: 900px) {
    .nav-button, .navbutton:visited{
        text-decoration: none;
        
        width: 20%;
        
        font-size: 12px;
        
        font-family: 'Bebas Neue';
        
        align-items: center;
        
        
        text-align: center;
        
        color: #F5C525;
    }
}

.nav-button:last-child{
    margin-right: 7.7%;
}

.nav-button:hover{
    background-color: #f5c525;
    color: black;
}

.buttonCont{
    
    display: flex;
    align-items: center;
    margin-left: 26.5%;
    margin-right: 17.6%;
    width: 24.3%;
    /*467*/
}

.social{
   /*170*/
    margin-left: 7.71%;
    display: flex;
    align-items: center;
    width: 36%;
    
    
}
.social-icon{
    margin: 1.18%;
    
    height: auto;
    width: 25%;
}


.banner{
    width: 100%;
    
    
}

.comicCont{
   
    width: 100%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
    
}

.comic img {
    height: 263px;
    
    width: 100%;
    transition: transform 0.25s;
  }

.comic:hover img {
    transform: scale(1.1);
}



.comic{
    
    overflow: hidden;
    height: 263px;
    width: 64.7%;
    margin-bottom: 15px;
}

@media screen and (max-width: 1400px){
    .comic img {
        height: 200px;
        
        width: 100%;
        transition: transform 0.25s;
      }
    
    .comic:hover img {
        transform: scale(1.1);
    }
    
    
    
    .comic{
        
        overflow: hidden;
        height: 200px;
        width: 64.7%;
        margin-bottom: 15px;
    }

    
}


.footer{
    background-color: #F5C525;
    height: 90px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.cat-title{
 
    margin-top: 45px;

    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-left: 17%;
    color: #F5C525;
}
.line{
    margin-left: 17%;
}
