/* main color: #f5c525 */
/* font-family: 'Bebas Neue', cursive;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    text-decoration: none;
    
}

body{
    font-family: 'Bebas Neue';
    text-decoration: none;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    height: 1420px;
    background-color:  #1A1A1A;
}

*::-webkit-scrollbar{
    display: none;
}

.headerCont{
    height: 88px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.headerCont img{
    
    width: auto;
    height: 48px;
}

.headerBis {
    
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;

}

.headerBis img {
    width: 55.6%;
}

.headerBis p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: center;
    width: 81.4% ;
    margin-top: 20px;
    margin-bottom: 27px;
}

.autoreLeft {
    display: flex;
    height: 181px;
    margin-left: 34px;
    margin-right: 34px;
    
}

.info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
} 

.nome {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: #F5C525;  
}

.bio {
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif; 
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;

    color: #FFFFFF;

}

.bio-under {
    margin-left: 34px;
    margin-right: 34px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif; 
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 24px;
    color: #FFFFFF;

}

.social-left {
    margin-top: 10px;
    display: flex;
    margin-left: -10px;   
}

.autoreRight{
    display: flex;
    height: 181px;
    margin-right: 34px;
}

.info-right{
    margin-left: 34px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    
}

.nome-right {
    text-align: right;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: #F5C525;  
}

.bio-right {
    margin-top: 18px;
    font-family: 'Montserrat', sans-serif; 
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;

    color: #FFFFFF;

}

.bio-under {
    margin-left: 34px;
    margin-right: 34px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif; 
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 24px;
    color: #FFFFFF;

}

.social-right {
    margin-top: 10px;
    margin-right: -5px;
    display: flex;
    justify-content: end;   
}

.bio-under-right{
    
    margin-left: 34px;
    margin-right: 34px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif; 
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 24px;
    color: #FFFFFF;

}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: black;
    position: relative;
    

}
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: #F5C525;
    
    
    text-decoration: none;
    font-size: 30px;
    display: block;
  }

  .mainLink{
    padding-top: 10px;
    margin-left: 10.3%;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    top: 20px;
    left: 80%;
    
  }
  
  
  /* Style the active link (or home/logo) */
  .logo{
    
    padding-top: 10px;
    background-color: black;
    margin-left: 44.3%;
    width: 10%;
  }

  .logo img{
    top: 20px;
  }

  .social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }


 